.autocomplete-home {
    width: 68%;
    display: block;
    & input {
        width: 100%;
        background-color: #eaedf3;
        font-size: larger;
        font-weight: bolder;
    }

    & div {
        width: 100%;
    }

    & button {
        background-color: #eaedf379;
        color: white;
        border: none;
    }
}
