<div class="card">
    @if(selected == 665) {
    <h1>Assays</h1>
    @if(assayResult) {
    <p-table [value]="assayResult.table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                @for (item of assayResult.header; track $index) {
                <th scope="col">{{item.title}}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                @for (header of assayResult.header; track $index) {
                @if(!isLink(item[header.field])){
                <td>{{item[header.field]}}</td>
                }
                @else {
                <td>
                    <div [innerHTML]="item[header.field]"></div>
                </td>
                }
                }
            </tr>
        </ng-template>
    </p-table>
    }
    @else {
    <p-progressSpinner></p-progressSpinner>
    }
    <h1>Samples</h1>

    @if (sampleResult) {
    <p-table [value]="sampleResult.table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                @for (item of sampleResult.header; track $index) {
                <th scope="col">{{item.title}}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                @for (header of sampleResult.header; track $index) {
                @if(!isLink(item[header.field])){
                <td>{{item[header.field]}}</td>
                }
                @else {
                <td>
                    <div [innerHTML]="item[header.field]"></div>
                </td>
                }
                }
            </tr>
        </ng-template>
    </p-table>
    }
    @else {
    <p-progressSpinner></p-progressSpinner>
    }
    }
    @else if (selected == 379) {

    <h1>Assays</h1>

    @if(assay2Result) {
    <p-table [value]="assay2Result" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                @for (item of assayResultCols; track $index) {
                <th scope="col">{{item}}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                @for (header of assayResultCols; track $index) {
                @if(!isLink(item[header])){
                <td>{{item[header]}}</td>
                }
                @else {
                <td>
                    <div [innerHTML]="item[header]"></div>
                </td>
                }
                }
            </tr>
        </ng-template>
    </p-table>
    }

    <h1>Samples</h1>
    @if (sample2Result) {
    <p-table [value]="sample2Result" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                @for (item of sampleResultCols; track $index) {
                <th scope="col">{{item}}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                @for (header of sampleResultCols; track $index) {
                @if(!isLink(item[header])){
                <td>{{item[header]}}</td>
                }
                @else {
                <td>
                    <div [innerHTML]="item[header]"></div>
                </td>
                }
                }
            </tr>
        </ng-template>
    </p-table>
    }
    }
    @else {
    <h1>Experimentos</h1>
    <div class="flex gap-3">
        <p-button label="OSD-665" (click)="selected=665"></p-button>
        <p-button label="OSD-379" (click)="selected=379"></p-button>
    </div>
    }
</div>