.autocomplete-home {
    width: 100%;
    display: block;
    & input {
        width: 100%;
        background-color: #eaedf3;
        height: 5rem;
        font-size: larger;
        font-weight: bolder;
    }

    & div{
        width: 100%;
    }

    & button{
        background-color: #eaedf379;
        color: white;
        border: none;
    }
}